.colorCode_container {
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: space-between;
  align-items: center;
}
.colorCode_button {
  display: flex;
  gap: 12px;
  padding: 8px 10px;
}
.colorCode_title {
  font-size: 30px;
  font-weight: bold;
}
.colorCode_code {
  font-size: 30px;
  font-weight: bold;
}
